In [1]:
# Imports
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston

In [2]:
# Dataset for Classification
dataset = load_boston()
x = dataset.data
y = dataset.target

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=23111, test_size=0.30)

In [3]:
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
# Lineare Regression
regr = LinearRegression()
regr.fit(x_train, y_train)

y_pred = regr.predict(x_test)
y_true = y_test

#### Formeln: 

  - MSE = $\frac{1}{n} \sum_{i=1}^n(y_i - \hat{y}_i)^2$  
  - MAE = $\frac{1}{n} \sum_{i=1}^n\big|y_i - \hat{y}_i\big|$

In [6]:
def mse(y_true, y_pred):
    n = len(y_true)
    return (1/n) * np.sum((y_true[i] - y_pred[i])**2 for i in range(n))

In [7]:
def mae(y_true, y_pred):
    n = len(y_true)
    return (1/n) * np.sum(np.abs(y_true[i] - y_pred[i]) for i in range(n))

In [11]:
print("MSE: ", mse(y_true, y_pred))
print("MAE: ", mae(y_true, y_pred))

MSE:  22.130743097582695
MAE:  3.4646955854424846

In [12]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

print("MSE: ", mean_squared_error(y_true, y_pred))
print("MAE: ", mean_absolute_error(y_true, y_pred))

MSE:  22.1307430975827
MAE:  3.4646955854424837