In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "C:/Users/Jan/Dropbox/_Programmieren/Udemy ML Kurs/13 - Case Study/3 - Case Study Income/1 - Lösung/adult.xlsx"
df = pd.read_excel(path)

In [3]:
print(df.columns)

Index(['age', 'workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [4]:
print(df.dtypes)

age                int64
workclass         object
education         object
marital-status    object
occupation        object
relationship      object
race              object
gender            object
hours-per-week     int64
native-country    object
income            object
dtype: object

In [5]:
print(df.shape, df.size)

(48842, 11) 537262

In [6]:
df.head()

,age,workclass,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,?,Some-college,Never-married,?,Own-child,White,Female,30,United-States,<=50K

In [7]:
for col in df.columns:
    print(col, " Number of categories: ", len(df[col].value_counts()))

age  Number of categories:  74
workclass  Number of categories:  9
education  Number of categories:  16
marital-status  Number of categories:  7
occupation  Number of categories:  15
relationship  Number of categories:  6
race  Number of categories:  5
gender  Number of categories:  2
hours-per-week  Number of categories:  96
native-country  Number of categories:  42
income  Number of categories:  2

In [17]:
data = df.as_matrix()
x = data[:,:-1] # Gehe bis zur letzten Spalte (die aber nicht einschließlich)
y = data[:,-1] # Nimm nur die letzte Spalte

print(x.shape, y.shape)

# <=50K: Klasse 0
# >50K: Klasse 1
y = np.array([0 if val == "<=50K" else 1 for val in y], dtype=np.int8)

print(y)
x[:,[0,9]] = x[:,[9,0]]
print(x[0])

(48842, 10) (48842,)
[0 0 1 ... 0 0 1]
['United-States' 'Private' '11th' 'Never-married' 'Machine-op-inspct'
 'Own-child' 'Black' 'Male' 40 25]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

[0 0 1 ... 0 0 1]